.centered {
  text-align: center;
}

.mobile-only {
  display: none;
}

h3 small {
  margin-left: 15px;
  vertical-align: middle;
}

.well img {
  max-width: 100%;
  background: #fff;
}

.cart .quantity {
  position: absolute;
  left: 141px;
  top: 50px;
}

[lang='bd'] .farmer-name {
  float: left;
  margin-right: 7px;
}

@media (max-width: 900px) {
  .mobile-only {
    display: inline;
  }
}
