<%= render 'layouts/header'%>

<div id="featureContainer">
  <h2>What is BD-Market</h2>
  <div class="content">
    <p>Fork of the WikiTongues Poly project to support a marketplace for Bangladesh</p>
  </div>
</div>
</div>